<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <appSettings>
      <add key="hostMail" value="smtp.office365.com" />
      <add key="portMail" value="587" />
      <add key="userMail" value="notificaciones@promoshop.com.mx" />
      <add key="passMail" value="EmailEx1m4g3n" />
      <add key="sslMail" value="true" />
    </appSettings>
    <connectionStrings>
        <add name="EnvioMailSms.Properties.Settings.Eximagen_NuevaBConnectionString"
            connectionString="Data Source=10.130.37.40;Initial Catalog=Eximagen_NuevaB;Persist Security Info=True;User ID=sa;Password=&quot;2NC]&gt;=f.N^&quot;"
            providerName="System.Data.SqlClient" />
        <add name="EnvioMailSms.Properties.Settings.EximagenElectroConnectionString"
            connectionString="Data Source=10.130.37.40;Initial Catalog=EximagenElectro;Persist Security Info=True;User ID=sa;Password=&quot;2NC]&gt;=f.N^&quot;"
            providerName="System.Data.SqlClient" />
        <add name="EnvioMailSms.Properties.Settings.OE_SEGURIDADConnectionString"
            connectionString="Data Source=10.130.37.40;Initial Catalog=OE_SEGURIDAD;Persist Security Info=True;User ID=sa;Password=&quot;2NC]&gt;=f.N^&quot;"
            providerName="System.Data.SqlClient" />
        <add name="EnvioMailSms.Properties.Settings.Eximagen_NuevaBConnectionString1"
            connectionString="Data Source=10.130.37.40;Initial Catalog=Eximagen_NuevaB;User ID=qacg;Password=Ex1m4g3n2016"
            providerName="System.Data.SqlClient" />
        <add name="EnvioMailSms.Properties.Settings.OE_SEGURIDADConnectionString1"
            connectionString="Data Source=10.130.37.40;Initial Catalog=OE_SEGURIDAD;User ID=qacg;Password=Ex1m4g3n2016"
            providerName="System.Data.SqlClient" />
        <add name="EnvioMailSms.Properties.Settings.Eximagen_NuevaBConnectionString2"
            connectionString="Data Source=10.130.37.40;Initial Catalog=Eximagen_NuevaB;User ID=sa;Password=&quot;2NC]&gt;=f.N^&quot;"
            providerName="System.Data.SqlClient" />
        <add name="EnvioMailSms.Properties.Settings.EximagenCacheConnectionString"
            connectionString="Data Source=10.130.37.40;Initial Catalog=EximagenCache;User ID=sa;Password=&quot;2NC]&gt;=f.N^&quot;"
            providerName="System.Data.SqlClient" />
        <add name="EnvioMailSms.Properties.Settings.Eximagen_NuevaBConnectionString3"
            connectionString="Data Source=10.130.37.40;Initial Catalog=Eximagen_NuevaB;Persist Security Info=True;User ID=sapdb;Password=Pa$$w0rd01"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>